rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Apenas utilizadores autenticados podem aceder à sua própria informação.
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      // Cada sub-coleção pertence ao utilizador.
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}